$primary-offwhite: #EDF5E1;
$primary-lightgrey: #FAFBFB;
$primary-grey: #343A40;
$primary-white: #ffffff;
$primary-darkblack: #111111;
$primary-black: #161616;
$primary-lightblack: #1C1C1C;
$primary-lightred: #E31C25;
$primary-darkred: #BB000E;
$primary-cherry: #C83F3C;
$primary-tomato: #C84B3C;
$primary-rust: #C8563C;
$primary-orange: #C8623C;
$primary-mandarine: #C86E3C;
$primary-brown: #C8793C;
$primary-greyish: #FAFBFB;
$primary-earth: #68594E;
$primary-blue: #083768;
$primary-red: #751D23;


