

.partner--logo{
  height: 100px;

}

.partner--logo:hover {
  transition: all cubic-bezier(0.25, 0.1, 0, 1.13) 0.9s;
}

.partner--desaturate{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: url(/elements/grayscale.svg#desaturate);
  filter: gray;
  -webkit-filter: grayscale(1);
}

.partner--desaturate:hover {
  filter: grayscale(0%);
  filter: none;
  -webkit-filter: grayscale(0);
}
