

.light-section{
    background-color: $primary-white;
    color: $primary-grey;
  }
  
.medium-section{
    background-color: $primary-greyish;
    color: $primary-earth;
  }
  
.dark-section{
    background-color: $primary-lightblack;
    color: $primary-offwhite;
  }